<template name="header">
  <nav class="main-menu">
	  <div class="max-width">
	    <div class="col-sm-3 col-xs-12 brand">
	      <a class="" href="/">Digital <span>Card</span></a>
	    </div>
	    <div>
	      <div class="col-sm-5 col-xs-12 navigation">
	        <div  >
	          <a class="{{loggedIn}}" href="/profile/edit">Edit Profile</a>
	        </div>
	      </div>
	      <div class="col-sm-4 col-xs-12 right">
	        <div class="test {{loggedOut}}">
	          <a class="menu-button primary {{isActiveRoute 'login'}}" href="/login">Login</a>
	          <a class="menu-button secondary {{isActiveRoute 'register'}}" href="/register">Register</a>
	        </div>
	        <div class="{{loggedIn}}">
	          <p class="">Signed in as <a href="/profile/view">{{currentUser.profile.firstName}}</a></p>
	          <a class="menu-button warning logout" href="/">Logout</a>
	        </div>
	      </div>
	    </div>
	  </div>
  </nav>
</template>